.header {
  margin: 0;
  padding: 45px 0 40px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 28px 27px 32px;
  }
}